body{
    background-color: black;
    box-sizing: border-box;
    text-align: center;
}
.main{
    max-width: 1440px;
    width: 80%;
    margin: 0px auto;
}

/* navbar */
.navbar{
    margin-top: 30px;
    display: flex;
    align-items: center;
    padding: 10px;
}
.dinh{
    height: 100px;
    width: 100px;
    clip-path: circle(50% at 50% 50%);
}
.navbar a{
    color: red;
    text-decoration: none;
    font-family: Swis721 BlkCn BT;
    font-size: 80px !important;
}
.btn-outline{
    color: rgb(255, 0, 0);
    background-color: black;
    border: 1px solid rgb(255, 0, 0);
}
.btn-outline:hover{
    background-color: red;
    color: black;
}

/* Section 1 */
.container-1{
    margin-top: 60px;
    display: Flex;
    align-items: center;
}
.w3-animate-left,
.w3-animate-top,
.w3-animate-right{
    animation-delay: 2s;
}
.d-block .carousel .carousel-inner .carousel-inner {
    height: 450px !important;
}
img{
    border-radius: 5px;
}
.div{
    height: 450px;
    width: 50%;
}
.slogan{
    text-align: left;
    padding: 3% 16%;
    font-family: Swis721 BlkCn BT;
}
.white{
    color: white;
    font-size: 80px !important;
    line-height: 60px;
}
.red{
    color: red;
    font-size: 80px !important;
    line-height: 60px;
}
#CJU{
    margin-bottom: 3px;
    font-size: 40px;
    color: white;
}
#dis{
    margin-bottom: 0px;
    font-size: 20px;
    color: red;
}

/* Flickety */
.flickety{
    height: 500px;
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
}
.flickety h1{
    color: white;
    text-align: center;
    margin: 30px 0 50px;
}
.carousel{
    height: 400px;
}
  
.carousel-cell {
    width: 70%;
    height: 400px;
    margin-right: 150px;
    border-radius: 5px;
}
.carousel-cell iframe{
    height: 400px;
    width: 100%;
}

/* Membership Plans */
.container-2{
    margin-top: 150px;
    text-align: center;
}
.emp{
    color: white;
    text-align: center;
    margin: 30px 0 50px;
}
.flex-box{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.div2{
    border: 1px solid rgb(51, 51, 51);
    border-radius: 5px;
    margin: 0 10px;
}
.cbox{
    height: 280px;
    text-align: center;
    color: white;
}
.box1{
    margin: 0;
    padding: 20px 80px 10px;
    background-color: red;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.libox{
    padding:10px 80px;
}

/* footer */

footer{
    margin-top: 50px;
    padding: 25px;
    background-color: rgb(29, 29, 29);
}
footer a{
    color: rgb(141, 141, 141);
}
footer a:hover{
    color: rgb(255, 255, 255);
    text-decoration: none;
}




