*{
    box-sizing: border-box ;
    margin: 0 ;
}
body{
    background-color: black ;
    text-align: center ;
}
#navbar{
    background-color: rgb(202, 0, 0) ;
}
#navbar ul{
    display: flex ;
    flex-direction: row ;
    align-items: center ;
    margin: 0 auto ;
}
#navbar li{
    padding: 15px 30px ;
    list-style: none ;
}
#navbar li a{
    text-decoration: none ;
    color: white ;
    font-family:Arial, Helvetica, sans-serif ;
    font-weight: 500 ;
    font-size: 21px ;
}
#navbar li a:hover{
    color: black ;
}

#logo{
    font-family:Arial, Helvetica, sans-serif ;
    color: white ;
    display: flex ;
    align-items: center ;
    margin:0 15px ;
    font-size: 28px ;
}

#logo img{
    height: 50px ;
    filter: invert(1) ;
}



.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    min-height: 92vh;
}
#contact{
    width: 500px;
}
h2{
    text-align: center;
    color: white;
}
input, textarea{
    padding: 9px;
    display: block;
    width: 100%;
    margin: 15px 5px;
    color: white;
    border: 3px solid rgb(255, 0, 0);
    border-radius: 15px;
    outline: none;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
    
.btn{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: block;
    padding: 10px 60px;
    margin: 15px auto;
    color: white;
    background-color: rgb(202, 0, 0);
    border: 1px solid black;
    border-radius: 15px;
}


footer{
    margin-top: 50px ;
    padding: 25px ;
    background-color: rgb(29, 29, 29) ;
}
footer a{
    color: rgb(141, 141, 141) ;
    text-decoration: none;
}
footer a:hover{
    color: rgb(255, 255, 255) ;
    text-decoration: none ;
}